.container {
    width: 100%;

}


.optionsList {
  color: 	#778899;
  margin-top: 3%;
  font-family: 'Quicksand', sans-serif;
  /*position: fixed;*/

}

ul {
    float: left;
    max-width: 22%;
    /*margin: 0;*/
    padding: 0;
    padding-right: 4em;
    font-family: 'Quicksand', sans-serif;


}

 .navbar-nav.ml-auto {
    list-style-type: none;
    padding: 0;

}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 4em;
    overflow: hidden;
    padding-bottom: 30em!important;
    font-family: 'Quicksand', sans-serif;
    color: 	#778899;
}

footer {
    padding: 1em;
    color: white;
    background-color: #778899;
    clear: left;
    text-align: center;
    width: 100%;

}

#budget-input {

}

#gas-input {

}

#food-input {

}

#lodging-input {

}

#tolls-input {

}

#ent-input {

}
