.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.py-5 {
  text-align: center;
  /*font-family: 'Quicksand', sans-serif;*/
}

h1  {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 20px;
  font-style: italic;
}

.btn.btn-primary.btn-md {
  background-color: #20B2AA;
  border-color: inherit;
  font-family: 'Quicksand', sans-serif;
}

.btn.btn-secondary.btn-md {
  border-color: inherit;
  font-family: 'Quicksand', sans-serif;
}

.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3em!important;
  background-color: #FDF5E6;
}

.py-6.bg-dark {
  padding-top: 1em!important;
  padding-bottom: 1em!important;
  position: fixed;
  width: 100%;

}

.m-0.text-center.text-white {
  font-size: 10px;
}
